body{
  text-align: center;
}
#final{
  width: 30rem;
  height:30rem;
  overflow: hidden;
  margin: auto;
  display: block;
}
.picture{
  width:25rem;
  height:25rem;
  margin:auto;
}

.imgContainer{
  overflow: hidden;
  float: left;
  width: 12.5rem;
  height:10rem;
}
.imgContainer > img{
  height: 25rem;
  width: 25rem;
  margin-left: 0rem;
  margin-top: 0rem;
}

#drop-zone > .imgContainer{
 border-style: solid;
}
