body{
  text-align: center;
}
#final{
  width: 30rem;
  height:30rem;
  overflow: hidden;
  margin: auto;
  display: block;
  outline: rgba(3, 9, 65, 0.801) solid 10px;
}
.picture{
  width:25rem;
  height:25rem;
  margin:auto;
}

.imgContainer{
  overflow: hidden;
  float: left;
  width: 12.5rem;
  height:10rem;
}
.imgContainer > img{
  height: 25rem;
  width: 25rem;
  margin-left: 0rem;
  margin-top: 0rem;
}

#drop-zone > .imgContainer{
 border-style: solid;
}

body{
  background-color:steelblue;
  font-family: 'Courier New', Courier, monospace
}

@media (max-width: 575px) { 
body{
  background-color:aliceblue;
  color: rgb(63, 52, 52);
}
 }

@media (min-width: 576px) and (max-width: 767px) { 
  body{
background-color:rgb(196, 228, 255);
color: rgb(63, 52, 52);
  }
 }


@media (min-width: 768px) and (max-width: 991px) { 
body{
background-color:rgb(164, 196, 233);
color: rgb(63, 52, 52);
}
 }


@media (min-width: 992px) and (max-width: 1199px) {
body{
background-color:steelblue;
color: white;
}
 }

@media (min-width: 1200px) { 
  body{
background-color:rgb(4, 79, 139);
color: white;
  }
 }
